pipeline/pipeline_ImportData_Control.json
{
	"name": "pipeline_ImportData_Control",
	"properties": {
		"activities": [
			{
				"name": "Lookup Staging Row Count",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[SalesLT].[usp_GetRowCountProductStaging]"
					},
					"dataset": {
						"referenceName": "ProductsStaging",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Actions on Staging Row Count",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup Staging Row Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Lookup Staging Row Count').output.firstRow.RowCount, 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Import Data on True",
							"type": "ExecutePipeline",
							"typeProperties": {
								"pipeline": {
									"referenceName": "pipeline_ImportData",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"EmailTo": "michael.walshnz@gmail.com"
								}
							}
						}
					]
				}
			}
		]
	}
}